
.stick-layout{
    position: sticky;
    width:100%;
    background-color: #16a2f2;
    bottom:0;
    border-radius: 10% 10% 0 0;

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0px 5%;
        a{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            h3{
                margin-left:4px;
                font-size: 18px;
            }
        }
    }
}