.header{
    padding-top: 0.5em;
    min-height: 15vw;
    .logo{
        background-image: url('../../assets/logo.svg');
        background-repeat: no-repeat;
        margin-left:10%;
        width:175px;
        height:85px;
    }
    h2{
        margin: 0;
        padding: 0;
        font-size: 22px;
        text-align: left;
        margin-left: 10%;
        margin-top: 0.2em;
    }
}