$sub-color: grey;
$main-color: white;
// scss var
// mixin sao reusaveis no mesmo arquivo
@mixin shrinkLabel {
  top: -25px;
  font-size: 18px;
  color: $main-color;
  left: 0;
}

.group {
  position: relative;

  textarea{
    height: 7em;
    padding: 1em 0 !important;
    border-radius: 4px !important;
  }
  .form-input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 15px;
    border-bottom: 1px solid grey;
    margin: 1.65em 0;


    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 26px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 0;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
