.App {
  text-align: center;
  
  font-family: Arial, Helvetica, sans-serif;
  background-color: #002651;
  max-width: 100%;
  width:100%;
  min-height:100vh;
}
h2{
  color:#FF304F;
  font-size: 30px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50vh;
}
.body{
  min-height:50vh;
}
.spacer{
  width:80%;
  height:1px;
  background-color: white;
  display: flex;
  margin-left: 10%;
}